{
    "parser": "@babel/eslint-parser",
    "extends": ["airbnb/base", "prettier"],
    "plugins": ["prettier","@babel"],
    "rules": {
        "prettier/prettier": ["error"],
        "no-use-before-define": "off",
        "no-underscore-dangle": "off"
    }
}
