src
test
types
examples
coverage
.DS_Store

# System and IDE files
Thumbs.db
.vscode/
.idea/

# Logs and environment
*.log
*.env
npm-debug.log

# Node and package manager
node_modules/
package-lock.json
yarn.lock

# Config files
.eslintrc*
.prettierrc*
.babelrc*
.editorconfig
eslint.config.js
jsconfig.json
.c8rc.json
