/* stylelint-disable docusaurus/copyright-header */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: rgb(33, 175, 144);
    --ifm-color-primary-darker: rgb(31, 165, 136);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

.get-test-account {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    background: #02b48f;
    color: #fff;
    text-decoration: unset;
    border: initial none;
    border-color: initial;
    -o-border-image: initial;
    border-image: initial;
    border-radius: 2px;
    margin-bottom: 1em;
}

.get-test-account:hover {
    color: #fff;
    background: #04997b;
    text-decoration: unset;
}

.demo-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.front-end-section {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.front-end-embed {
    width: 80%;
}

.back-end-section {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
    display: flex;
    overflow-y: scroll;
}

.back-end-section div:first-child {
    display: flex;
    justify-self: center;
    align-items: center;
}

.back-end-section div:nth-child(1) {
    width: 100%;
}

.back-end-section iframe {
    margin: unset !important;
    width: 100% !important;
}

@media only screen and (max-width: 700px) {
    .demo-container {
        flex-direction: column;
    }
}
